<% include ../partials/header1 %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/landing.css' />
<% include ../partials/header2 %>

<div class="ui main text container segment">
    <div class="ui huge header">Edit <%= product.title%></div>
    <form class="ui form" action="/<%= product._id%>?_method=PUT" method="POST">
        <div class="field">
            <label for="">Title</label>
            <input type="text" name="product[title]" value="<%= product.title%>">
        </div>
        <div class="field">
            <label for="">Image Path</label>
            <input type="text" name="product[imagePath]" value="<%= product.imagePath%>">
        </div>
        <div class="field">
            <label for="">Description</label>
            <textarea name="product[description]"><%= product.description%></textarea>
        </div>
        <div class="field">
            <label for="">Price</label>
            <input type="number" name="product[price]" value="<%= product.price%>">
        </div>
        <input type="submit" class="ui secondary button">
    </form>
</div>

<% include ../partials/footer %>